.farmBackground {
  background-color: rgb(240, 240, 240);
  /* background-color: red; */
  /* min-height: 100vh; */
  /* height: 100%; */
  display: flex;
  /* border: 2px solid red; */
}

.poolsHeader {
  /* background-color: greenyellow; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.titlePools {
  text-align: start;
  padding: 1em;
}

.plus {
  /* padding: 0.5em; */
  /* font-size: 4em; */
  font-size: 55px;
  margin-right: 10px;
  color: rgb(160, 160, 160);
}

.pools {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  width: 40%;
}

.variables {
  background-color: rgb(240, 240, 240);
  margin-left: 10px;
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  /* border: solid red; */
}

.panelVariables {
  background-color: white;
  height: 100%;
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 4px solid green; */
  padding-top: 5%;
  overflow-y: scroll;
}

.farmPanel {
  width: 90%;
  align-self: center;
  border-radius: 3px;
  border: 2px solid rgb(17, 50, 44);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1em;
  background-color: white;
}

.farmName {
  font-size: 22px;
  font-weight: bold;
  margin-top: 5%;
}

.beaconStatus {
  background-color: yellow;
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.farmStatus {
  display: flex;

  align-items: center;
  gap: 20px;
}

.farmStatus p {
  font-weight: bold;
  margin-top: 10px;
}

.progressBarContainer {
  background-color: lightgrey;
  border-radius: 5px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.progressBarContainerAction {
  background-color: lightgrey;
  border-radius: 5px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.progressBar {
  background-color: teal;
  border-radius: 5px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.top {
  width: 100%;
  display: flex;
  /* border: 2px solid green; */
  justify-content: center;
}

.percentage {
  width: 30%;
}

.variablesTitle {
  align-self: flex-start;
  text-align: left;
}

.gaugeMe {
  align-self: flex-start;
  margin-top: 4em;
  margin-left: 9em;
  border: 3pz solid purple;
}

.container2 {
  position: relative;
}

.gauge {
  position: absolute;
  border-radius: 200px 200px 0 0;
  border-top: 30px solid rgb(190, 233, 226);
  border-right: 30px solid rgba(255, 0, 0, 0.8);
  border-left: 30px solid rgba(255, 0, 0, 0.8);
  width: 412px;
  height: 450px;
}
/* .blanco {
  position: absolute;
  left: 0px;
  top: 220px;
  background-color: white;
  width: 412px;
  height: 500px;
} */
.blanco2 {
  position: absolute;
  left: 0px;
  bottom: 50px;
  background-color: white;
  width: 300px;
  height: 105px;
  /* border: 5px solid red; */
  padding-top: 5%;
  font-weight: bold;
}

.needle {
  position: absolute;
  left: 175px;
  top: -10px;
  width: 5px;
  background-color: black;
  border-radius: 3px;
  height: 189px;

  border: 1px solid black;
  box-sizing: border-box;
  z-index: 5;
  transform-origin: center bottom;
  transform: rotate(-45deg);
}

/* .circle {
  position: absolute;
  left: 167px;
  top: 170px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  height: 20px;
  z-index: 2;
  border: 1px solid black;
  box-sizing: border-box;
} */

.gaugeTemperatureUno {
  font-size: 40px;
  position: absolute;
  left: -70px;
  top: 140px;
}

.gaugeTemperatureDos {
  font-size: 40px;
  position: absolute;
  left: -30px;
  top: -25px;
}

.gaugeTemperatureTres {
  font-size: 40px;
  position: absolute;
  left: 320px;
  top: -30px;
}
.gaugeTemperatureCuatro {
  font-size: 40px;
  position: absolute;
  left: 400px;
  top: 140px;
}

#logo {
  display: inline-block;
  position: relative;

  /* border: 5px solid red; */
}
#logo .speedometer {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 30px solid rgb(190, 233, 226);
  border-right: 30px solid rgb(255, 51, 51);
  border-bottom: 30px solid rgba(255, 255, 255, 0);
  border-left: 30px solid rgb(255, 51, 51);
  transform: rotate(deg);
  display: inline-block;
}
#logo .needle {
  width: 10px;
  height: 150px;
  background-color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  display: inline-block;
  left: 150px;
  position: absolute;
  top: 0px;
  animation: move 5s infinite;
  transform: rotate(45deg);
  transform-origin: bottom;
}
/* @keyframes move {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
} */

.rowMeter {
  display: flex;
  justify-content: space-around;
  /* border: 3px solid blue; */
  /* border: 5px solid blue; */
}

.rowMeter2 {
  display: flex;
  justify-content: flex-start;
  /* border: 3px solid blue; */
  /* border: 5px solid blue; */
  margin-left: 70px;
}

.titles {
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  border: 2px solid black;
}
.titles2 {
  display: flex;
  width: 95%;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  /* border: 2px solid black; */
}

.titles3 {
  display: flex;
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
  /* border: 2px solid black; */
}

.actionHarvestTitle {
  width: fit-content;
  font-size: 25px;
  font-weight: bold;
  color: rgb(105, 105, 105);
  text-align: start;

  /* padding-left: 5%; */
  /* border: 2px solid blue; */
}

.temperatureTitle {
  font-size: 18px;
  font-weight: 500;
  color: rgb(63, 63, 63);
  text-align: start;
  padding-top: 2.5em;
  padding-left: 5%;
}

.temperatureTitle3 {
  font-size: 18px;
  font-weight: 500;
  color: rgb(63, 63, 63);
  text-align: start;
  padding-top: 2.5em;
  padding-left: 3%;
}

.temperatureTitle4 {
  font-size: 18px;
  font-weight: 500;
  color: rgb(63, 63, 63);
  text-align: center;
  padding-top: 2.5em;
  padding-left: 3%;
}
.actionButton {
  border: none;
  background-color: rgb(242, 248, 247);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 15%;
  padding-left: 15%;
  border-radius: 7px;
  box-shadow: 1px 1px lightgray;
}

.columnaActionHarvest {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
  width: 50%;
}
.columnaActionHarvest2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
  width: 50%;
}

.titlesAction {
  display: flex;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
  /* border: 2px solid black; */
}

.harvestValue {
  width: 80%;
  /* padding-left: 9%; */
  display: flex;
  justify-content: flex-start;
  /* border: 2px solid blue; */
}

.harvestValueBold {
  font-weight: bold;
}

.harvestButton {
  border: none;
  background-color: rgb(248, 248, 248);
  width: 80%;
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  color: rgb(154, 154, 154);
}

.harvestButtonDiv {
  width: 100%;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.harvestButtonText {
  font-weight: 500;
  font-size: 20px;
  color: rgb(154, 154, 154);
  /* border: 1px solid black; */
}
.seeMore {
  border: none;
  width: 100%;
  background-color: rgb(242, 248, 247);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 15%;
  padding-left: 15%;
  border-radius: 7px;
  box-shadow: 1px 2px 1px lightgray;
}
.inputDataDiv {
  width: 85%;
  align-self: center;
  /* border: 2px solid purple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}
.inputDataDiv2 {
  width: 90%;
  align-self: center;
  /* border: 5px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  padding-left: 5%;
}
.mainInputsDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  margin-top: 3%;
}

.saveHarvestingData {
  margin-top: 6%;
  border: none;

  background-color: rgb(242, 248, 247);
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 15%;
  padding-left: 15%;
  border-radius: 7px;
  box-shadow: 1px 2px 1px lightgray;
}
.nutrientInputData {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  /* border: 2px solid green; */
}

.lateralButtonsDiv {
  display: flex;
  flex-direction: column;
  /* border: 5px solid red; */
  width: 10%;
  justify-content: center;
  gap: 10%;
}
.lateralButton {
  /* border: 2px solid blue; */
  height: 10px;
  /* margin-top: 15%; */
  color: gray;
  font-size: 30px;
  font-weight: bold;
}
